{% extends "base.html" %}

{% block title %} Taipei Day Trip {% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attractions.css') }}">
{% endblock %}


{% block content %}
<main class="main">
    <div class="attractionTopWrap">
        <div class="topLeft">
            <img src="../static/imgs/AttractionPage/btn_leftArrow.png" alt="" class="sliderArrowLeft sliderArrow">
            <img src="../static/imgs/AttractionPage/btn_rightArrow.png" alt="" class="sliderArrowRight sliderArrow">
            <span class="dotControl"></span>
        </div>
        <div class="topRight">
            <div class="rightText"></div>
            <div class="rightWrap">
                <p>訂購導覽行程</p>
                <p class="subText">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <label for="dateTime" class="dateLabel">選擇日期：
                    <input type="date" placeholder="yyyy/mm/dd" class="dateTime">
                    <!-- <img src="../static/imgs/AttractionPage/icon_calendar.png" alt="" class="calendarIcon"> -->
                </label>
                <div class="halfDayWrap">
                    <span>選擇時間：</span>
                    <span class="morningWrap">
                        <input type="radio" name="halfDay" class="morning">
                        <label for="morning" class="chooseLable subText">上半天</label>
                    </span>
                    <span class="noonWrap">
                        <input type="radio" name="halfDay" class="noon">
                        <label for="noon" class="chooseLable subText">下半天</label>
                    </span>
                </div>
                <div class="feeWrap">
                    <span>導覽費用：</span>
                    <span class="subText none">請選擇方案</span>
                    <span class="subText morningFee">新台幣 2000 元</span>
                    <span class="subText noonFee">新台幣 2500 元</span>
                </div>
                <div class=" reservation">
                    開始預約行程
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class="attractionBottomWrap">
        <div class="descriptionWrap"></div>
        <div class="addressWrap"></div>
        <div class="transportWrap"></div>
    </div>
</main>
{% endblock %}
<!-- footer -->

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for( 'static', filename = 'js/attraction.js') }}"></script>
{% endblock %}
</body>

</html>