<!DOCTYPE html>
<html lang="en">
<!-- <div class="footerExtender"> -->

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Taipei Day Trip</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
</head>

<body>
    {% block nav %}
    <!-- Overlay -->
    <div class="overlay"></div>
    <div class="error"></div>
    <!-- header -->
    <nav class="navBar">
        <div class="navBarContainer">
            <div class="navBarTpe">
                <a href="http://18.139.142.46:3000/" class="navBarTpeText">台北一日遊</a>
            </div>
            <div class="navBarBtn">
                <div class="navBarBtnItinerary">預定行程</div>
                <div class="navBarBtnLogout">登出系統</div>
                <div class="navBarBtnLogin">登入/註冊</div>
            </div>
        </div>
    </nav>
    <header>


        <!-- Register -->
        <div class="registerContainer">
            <div class="registerColorMatte"></div>
            <div class="registerContainerWrap">
                <div class="registerText">註冊會員帳號</div>
                <img src="{{ url_for( 'static', filename = 'imgs/icon_close.png') }}" alt="" class="iconClose">
                <input type="text" placeholder="輸入姓名" class="regInput registerName">
                <input type="e-mail" placeholder="輸入電子信箱" class="regInput registerEmail">
                <input type="password" placeholder="輸入密碼" class="regInput registerPassword">
                <div class="registerButton">註冊新帳戶</div>
                <div class="registerIsMember">已經有帳戶了？點此登入</div>
            </div>
        </div>

        <!-- SignIn -->
        <div class="signInContainer">
            <div class="signInColorMatte"></div>
            <div class="signInContainerWrap">
                <div class="signInText">登入會員帳號</div>
                <img src="{{ url_for( 'static', filename = 'imgs/icon_close.png') }}" alt="" class="iconClose">
                <input type="e-mail" placeholder="輸入電子信箱" class="signInInput signInEmail">
                <input type="password" placeholder="輸入密碼" class="signInInput signInPassword">
                <div class="signInButton">登入帳戶</div>
                <div class="signInNoAccount">還沒有帳戶？ 點此註冊</div>
            </div>
        </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}

    {% endblock %}


    {% block footer %}
    <!-- footer -->
    <footer>
        <div class="footerContainer">
            <p class="footerText">COPYRIGHT © 2022 台北一日遊</p>
        </div>
    </footer>
    {% endblock %}

    {% block script %}
    <script type="text/javascript" src="{{ url_for( 'static', filename = 'js/membership.js') }}"></script>
    {% endblock %}
</body>
<!-- </div> -->

</html>