<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
    <!-- header -->
    <nav class="navBar">
        <div class="navBarContainer">
            <div class="navBarTpe">
                <p class="navBarTpeText">台北一日遊</p>
            </div>
            <div class="navBarBtn">
                <div class=".navBarBtnItinerary">預定行程</div>
                <div class="navBarBtnLogin">登入/註冊</div>
            </div>
        </div>
    </nav>
    <!-- banner -->
    <div class="heroContainer">
        <div class="bannerContainer">
            <p class="bannerTitle">輕鬆享受台北一日悠閒</p>
            <p class="bannerSub">探索每個角落，體驗城市的深度旅遊行程</p>
            <span class="magnifier">
                <input type="text" placeholder="請輸入景點名稱查詢" class="bannerSearchBar" />
                <span class="searchIconBackground">
                    <img src="../static/imgs/icon_search.png" alt="" class="searchIcon">
                </span>
            </span>
            <div class="bannerCat">
            </div>
        </div>
    </div>
    </header>


    <!-- main -->
    <main class="main">
        <!-- section -->
        <section class="indexAttractions">

        </section>
    </main>


    <!-- footer -->
    <footer>
        <div class="footerContainer">
            <p class="footerText">COPYRIGHT © 2022 台北一日遊</p>
        </div>
    </footer>
    <!-- <script type = "module" src = "../static/js/footage.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/footage.js"></script> -->
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/keyword.js"></script>
    <script type="text/javascript" src="../static/js/categories.js"></script>
</body>

</html>